<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../admin.css">
</head>

<body>
    <div class="admin">
        <div class="head">
            <p>Switch Space | Admin Panel</p>
            <button class="infobtn" title="Hoşgeldin . Username : <%=username %> ">İ</button>
        </div>

        <div class="cmd"><br><br><br><br><br>
            <center>
                <input type="text" name="" id="cmdcommands" style="color: white;">
                <input onclick="cmdbtn();" type="submit" value=">" style="color:white">
            </center>
        </div><br><br><br><br><br>
        <div class="help-buttons" id="help-buttons">
            <article class="code">
                <section class="codes">
                    <form action="../projects/blog/add" method="POST">
                        <p>Ana sayfada bulunan blog yerine gönderi hazırlamak için bulunan yer hemen bas ve başla !</p><br>
                        <button class="kod-gor">Yeni Yazı</button>
                    </form>
                </section>
                

                <!-- -->
            </article>
        </div>

        <div class="ip-ban" id="ip-ban">
            <article class="code">
                <section class="codes">
                    <form action="#" method="POST">
                        <p>Heyy ! Kuralları bozan kullanıcılar mı var yoksa ? Kurallar önemlidir onları banlamak için alttaki buttona basabilirsin ! </p><br>
                        <button class="kod-gor">Ban Wakti</button>
                    </form>
                </section>
            </article>
        </div>
    </div>


</body>
<script src='../dashscript.js'>
    
</script>

</html>