<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swain System | News Add Post</title>
    <style>
        body{
            text-align: center;
            font-family: Arial, sans-serif;

        }
        p{
            font-size: 35px;
            font-weight: bolder;

        }
        form{
            border-style: dotted;
            width: 500px;
            height: 500px;
            text-align: center;
        }
        input{
            width:400px ;
            height: 35px;
        }
    </style>
</head>
<body>
    <section>
        <center>
            <form action="/projects/blog/add" method="POST">
                <br>
                <p>Yeni Yazı Ekle | News</p>
                <input type="text" name="title" id="title" placeholder="Başlık" required><br><br>
                <input type="text" name="short" id="short" placeholder="Kısa Yazı" required><br><br>
                <input type="text" name="long" id ="long" placeholder="İçerik" required><br><br>
                <input type="text" name="tag" id="tag" placeholder="Etiket" required><br><br>
                <input type="text" name="image" id="image" placeholder="Resim" required><br><br>
                <input onclick="kaydet();" type="submit" value="Kaydet" name="" id=""><br><br><br>
            </form><br><br><br><br><br><br><br><br>
            <p>Copyrighted Switch Space 2021 Tüm Hakları Saklıdır</p>
        </center>
    </section>

    <script>
        function kaydet() {
            console.log('Bir gönderi eklendi');
            alert('sayfayı kapatıyorum');
            
        }


    </script>
</body>
</html>